#myheader {
    padding: 8px 0;
    margin: -10px;
    margin-bottom: 0px;
    font-size: 28px;
    color: #eee;
    text-align: center;
    background-image: url(../images/index.jpg);
      
}

h2 {
    text-align: center;
    size: 100px;
    text-decoration: underline

}

h3 {
    text-decoration: underline;
}

#menu {
    font-size: 24;
    overflow: hidden;
    background-color:transparent;
    margin: 0px;
    position: absolute;
    margin-bottom: 0px;
    margin-top: -15px;
    margin-right:-10px;
    margin-left:-10px;
    font-family: monospace;
  
}
li {
    display: inline;
    font-size: 15px;
}

li a {
    color: white;
    padding: 5px;
    
  
}
    
    
    body {

        background-image: url(../images/cdn.jpg);
    }

#info {
color: white;
text-align: center;

}
.form {
    text-align: left;
}

input, textarea {

    width: 100%;
    padding: 12px;
    Border: 1px Solid;
    background-color: beige;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: black;
    
}


.container{

    text-align: left;
}