#myheader {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 0px;
    font-size: 28px;
    color: #eee;
    text-align: center;
    background-image: url(../images/IMG_0069.jpeg);
    
  }

  h2 {
      Color:white;
      font-size: 25px;
      text-align: left;
      margin-top: 15px;
      margin-bottom: 15px;

      
  }

  #menu {
      Color:blue;
      font-size: 24;
      overflow: hidden;
      background-color: beige;
      padding: 0px;
      margin-top: 0px;
    
  }
  li {
      display: inline;
      font-size: 15px;
  }

  li a {
      color: black;
      padding: 50px;
      text-decoration: none;
      border-right: 5px solid;
      border-color: white;
      
    
  }

  #p1 {
      color: rgb(255, 255, 255);
      width: 800px;
      text-align: left;
      border-style: solid;
      border-width: thin;
      border-color: white;
     background-image: url(../images/IMG_0069.jpeg);
      font-size: 15px;
      font-weight: bold;
      list-style-position: inside;
      padding: 10px;



  }
  body {
      background-image: url(../images/dark-paths.png);
  }
 
  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 25%;
      border-style: solid;
      border-width: thin;
      border-color: white;
      position: absolute;
      top: 190px;
      right: 100px;
  }