#myheader {
    color:white;
    font-size: 50px;
    padding: 0px;
    border-style: ridge;
    border-width: thin;
    border-color:white ;
    text-align: center;
    margin-top: 0px;
    text-decoration: underline;
    font-style: normal;
    font-weight: bold;
    background-image: url(../images/IMG_0069.jpeg);

  }

  h2 {
      Color:white;
      font-size: 25px;
      text-align: left;
      margin-top: 15px;
      margin-bottom: 15px;

      
  }

  #menu {
      Color:blue;
      font-size: 24
  }

  #p1 {
      color: rgb(255, 255, 255);
      width: 800px;
      text-align: left;
      border-style: solid;
      border-width: thin;
      border-color: white;
     background-image: url(../images/IMG_0069.jpeg);
      font-size: 15px;
      /* Bold the text. */
      font-weight: bold;
      list-style-position: inside;



  }
  body {
      background-image: url(../images/dark-paths.png);
  }
 
  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 25%;
      border-style: solid;
      border-width: thin;
      border-color: white;
  }