#myheader {
    padding: 20px 0;
    margin: -10px;
    margin-bottom: 0px;
    font-size: 28px;
    color: #eee;
    text-align: center;
    background-image: url(../images/index.jpg);
    
  }

  h2 {
      Color:white;
      font-size: 25px;
      text-align: left;
      margin-top: 15px;
      margin-bottom: 15px;

      
  }

  #menu {
      font-size: 24;
      overflow: hidden;
      background-color: transparent;
    margin: 0px;
      position: absolute;
      margin-bottom: 0px;
      margin-top: -15px;
      margin-right:-10px;
      margin-left:-10px;
      font-family: Georgia, 'Times New Roman', Times, serif;
    
  }
  li {
      display: inline;
      font-size: 15px;
  }
/* All good here*/



  li a {
      color: white;
      padding: 5px;
   
      
      
      
    
  }

  #p1 {
      color: rgb(255, 255, 255);
      width: 800px;
      text-align: left;
      border-style: solid;
      border-width: thin;
      border-color: white;
     background-color: transparent;
      font-size: 15px;
      font-weight: bold;
      list-style-position: inside;
      padding: 10px;



  }
  body {
      background-image: url(../images/cdn.jpg);
  }
 
  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 25%;
      border-style: solid;
      border-width: thin;
      border-color: white;
      position: absolute;
      top: 140px;
      right: 100px;
  }

  #kleinkwok {
      color: white;

  }

  #peterallen {
color: white;
  }