#myheader {
    padding: 8px 0;
    margin: -10px;
    margin-bottom: 0px;
    font-size: 28px;
    color: #eee;
    text-align: center;
    background-image: url(../images/index.jpg);

  }

  #menu {
    font-size: 24;
    overflow: hidden;
    background-color: transparent;
    margin: 0px;
    position: absolute;
    margin-bottom: 0px;
    margin-top: -15px;
    margin-right:-10px;
    margin-left:-10px;
    font-family: monospace;

  
}
li {
display: inline;
font-size: 15px;



}

li a {
    color:white ;
    padding: 5px;


  
}

body {
    background-image: url(../images/cdn.jpg);
}

h2 {

color: white;
}